@-moz-document domain("www.duolingo.com") {
body {
    background-image: url("/*[[background_picture]]*/");
    /*background-position: center bottom;*/
    
    background-attachment: fixed;
    background-size: cover;
}
.glass,
.practice,
.page-main,
.box-colored.white,
.box-gray,
.bg-white,
.lesson,
.big_test,
.test {
    position: relative;
}
.glass::before,
.practice::before,
.page-main::before,
.box-colored.white::before,
.box-gray::before,
.bg-white::before,
.lesson::before,
.slide-session-end::before,
.test::before,
.big_test::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20width%3D%221920%22%20height%3D%221120%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cimage%20xlink%3Ahref%3D%22http%3A%2F%2Fplacekitten.com%2F1920%2F1120%22%20width%3D%221920%22%20height%3D%221120%22%20filter%3D%22url%28%23blur%29%22%2F%3E%3C%2Fsvg%3E"), url("/*[[background_picture]]*/");
    background-attachment: fixed;
    background-size: cover;
    content: "";
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.icon-invert {
    -webkit-filter: invert(0%) !important;
    filter: invert(0%) !important;
}
}