@-moz-document domain("www.duolingo.com") {
.topbar-gold {
    background-image: linear-gradient(to bottom, #ffc300, rgba(255, 195, 0, 0.5));
    background-color: rgba(255, 195, 0, 0.8);
    background-repeat: repeat-x;
}
.topbar-nav-gold > li a:hover {
    background: #EF8200;
}
.topbar-gold .topbar-right .topbar-username {
    color: #fff;
}
.topbar-gold .btn-notifications {
    background: #EF8200;
}
.course-card.course-profile-badge {
    background: none;
}
.skill-icon-strength-micro {
    background-size: 28.7em 29em;
    font-size: 0.57em;
}
/* I don't care */

a:focus {
    outline: 0;
    text-decoration: none;
}
.sidebar-progress-main {
    padding-top: 10px;
}
.icon-invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.progress-bar-dynamic.strength-bar .bar:after {
    width: 110%;
    border-radius: 100px 0 0 100px;
}
.progress-bar-dynamic.strength-bar .bar .bubbles {
    top: 0px;
    height: 23px;
}
.strife-specibus-stats {
    margin-top: -42px !important;
}
main:not(.full-width) .page-main:before,
main:not(.full-width) .page-main:after {
    display: flex;
}
main:not(.full-width).main-center .page-main {
    padding: 35px 40px 40px 40px;
}
main:not(.full-width) .page-main.main-right {
    z-index: inherit;
}
}